In [11]:
import pandas as pd

# Cargar los datos desde un archivo CSV
df = pd.read_csv(r'C:\Users\Chelsea\Documents\Cursos\DataAnalytics\Contenido\Challenges\4\Starter_Code\PyCitySchools\Resources\schools_complete.csv')
df = pd.read_csv(r'C:\Users\Chelsea\Documents\Cursos\DataAnalytics\Contenido\Challenges\4\Starter_Code\PyCitySchools\Resources\students_complete.csv')

In [13]:
# Total de escuelas únicas
final_schools = df['school_name'].nunique()

# Total de estudiantes
final_students = df['student_name'].count()

# Presupuesto total
#total_budget = df['budget'].unique().sum()

# Puntaje promedio de matemáticas
avg_math_score = df['math_score'].mean()

# Puntaje promedio de lectura
avg_reading_score = df['reading_score'].mean()

# % de estudiantes que aprobaron matemáticas (suponiendo que 70 es el puntaje mínimo para aprobar)
passing_math = df[df['math_score'] >= 70]['student_name'].count() / total_students * 100

# % de estudiantes que aprobaron lectura
passing_reading = df[df['reading_score'] >= 70]['student_name'].count() / total_students * 100

# % de estudiantes que aprobaron ambas materias
overall_passing = df[(df['math_score'] >= 70) & (df['reading_score'] >= 70)]['student_name'].count() / total_students * 100

In [15]:
# Crear un DataFrame de resumen
summary_df = pd.DataFrame({
    'Final Schools': [final_schools],
    'Final Students': [final_students],
   # 'Total Budget': [total_budget],
    'Average Math Score': [avg_math_score],
    'Average Reading Score': [avg_reading_score],
    '% Passing Math': [passing_math],
    '% Passing Reading': [passing_reading],
    '% Overall Passing': [overall_passing]
})

# Mostrar el DataFrame de resumen
print(summary_df)

   Final Schools  Final Students  Average Math Score  Average Reading Score  \
0             15           39170           78.985371               81.87784

   % Passing Math  % Passing Reading  % Overall Passing
0       74.980853          85.805463          65.172326

In [20]:
import pandas as pd

# Cargar los datos desde un archivo CSV
df = pd.read_csv(r'C:\Users\Chelsea\Documents\Cursos\DataAnalytics\Contenido\Challenges\4\Starter_Code\PyCitySchools\Resources\schools_complete.csv')
df = pd.read_csv(r'C:\Users\Chelsea\Documents\Cursos\DataAnalytics\Contenido\Challenges\4\Starter_Code\PyCitySchools\Resources\students_complete.csv')

In [23]:
# Agrupar los datos por escuela
school_group = df.groupby('school_name')

# Calcular las métricas solicitadas
school_summary = pd.DataFrame({
    'School Name': school_group['school_name'].first(),
    'Total Students': school_group['student_name'].count(),
   # 'Total School Budget': school_group['budget'].first(),
   # 'Per Student Budget': school_group['budget'].first() / school_group['student_name'].count(),
    'Average Math Score': school_group['math_score'].mean(),
    'Average Reading Score': school_group['reading_score'].mean(),
    '% Passing Math': school_group.apply(lambda x: (x['math_score'] >= 70).mean() * 100),
    '% Passing Reading': school_group.apply(lambda x: (x['reading_score'] >= 70).mean() * 100),
    '% Overall Passing': school_group.apply(lambda x: ((x['math_score'] >= 70) & (x['reading_score'] >= 70)).mean() * 100)
})

In [26]:
# Mostrar el resumen por escuela
print(school_summary)

                                 School Name  Total Students  \
school_name
Bailey High School        Bailey High School            4976
Cabrera High School      Cabrera High School            1858
Figueroa High School    Figueroa High School            2949
Ford High School            Ford High School            2739
Griffin High School      Griffin High School            1468
Hernandez High School  Hernandez High School            4635
Holden High School        Holden High School             427
Huang High School          Huang High School            2917
Johnson High School      Johnson High School            4761
Pena High School            Pena High School             962
Rodriguez High School  Rodriguez High School            3999
Shelton High School      Shelton High School            1761
Thomas High School        Thomas High School            1635
Wilson High School        Wilson High School            2283
Wright High School        Wright High School            1800

                       Average Math Score  Average Reading Score  \
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

                       % Passing Math  % Passing Reading  % Overall Passing
school_name
Bailey High School          66.680064          81.933280          54.642283
Cabrera High School         94.133477          97.039828          91.334769
Figueroa High School        65.988471          80.739234          53.204476
Ford High School            68.309602          79.299014          54.289887
Griffin High School         93.392371          97.138965          90.599455
Hernandez High School       66.752967          80.862999          53.527508
Holden High School          92.505855          96.252927          89.227166
Huang High School           65.683922          81.316421          53.513884
Johnson High School         66.057551          81.222432          53.539172
Pena High School            94.594595          95.945946          90.540541
Rodriguez High School       66.366592          80.220055          52.988247
Shelton High School         93.867121          95.854628          89.892107
Thomas High School          93.272171          97.308869          90.948012
Wilson High School          93.867718          96.539641          90.582567
Wright High School          93.333333          96.611111          90.333333

In [29]:
# Sort by % Overall Passing in descending order
top_schools = school_summary.sort_values(by='% Overall Passing', ascending=False).head(5)

# Display the top 5 schools
print(top_schools)

                             School Name  Total Students  Average Math Score  \
school_name
Cabrera High School  Cabrera High School            1858           83.061895
Thomas High School    Thomas High School            1635           83.418349
Griffin High School  Griffin High School            1468           83.351499
Wilson High School    Wilson High School            2283           83.274201
Pena High School        Pena High School             962           83.839917

                     Average Reading Score  % Passing Math  % Passing Reading  \
school_name
Cabrera High School              83.975780       94.133477          97.039828
Thomas High School               83.848930       93.272171          97.308869
Griffin High School              83.816757       93.392371          97.138965
Wilson High School               83.989488       93.867718          96.539641
Pena High School                 84.044699       94.594595          95.945946

                     % Overall Passing
school_name
Cabrera High School          91.334769
Thomas High School           90.948012
Griffin High School          90.599455
Wilson High School           90.582567
Pena High School             90.540541

In [31]:
# Sort by % Overall Passing in ascending order
bottom_schools = school_summary.sort_values(by='% Overall Passing', ascending=True).head(5)

# Display the bottom 5 schools
print(bottom_schools)

                                 School Name  Total Students  \
school_name
Rodriguez High School  Rodriguez High School            3999
Figueroa High School    Figueroa High School            2949
Huang High School          Huang High School            2917
Hernandez High School  Hernandez High School            4635
Johnson High School      Johnson High School            4761

                       Average Math Score  Average Reading Score  \
school_name
Rodriguez High School           76.842711              80.744686
Figueroa High School            76.711767              81.158020
Huang High School               76.629414              81.182722
Hernandez High School           77.289752              80.934412
Johnson High School             77.072464              80.966394

                       % Passing Math  % Passing Reading  % Overall Passing
school_name
Rodriguez High School       66.366592          80.220055          52.988247
Figueroa High School        65.988471          80.739234          53.204476
Huang High School           65.683922          81.316421          53.513884
Hernandez High School       66.752967          80.862999          53.527508
Johnson High School         66.057551          81.222432          53.539172

In [33]:
# Group by school and grade, then calculate the average math score
math_scores_by_grade = df.groupby(['school_name', 'grade'])['math_score'].mean().unstack()

# Display the DataFrame
print(math_scores_by_grade)

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [35]:
# Group by school and grade, then calculate the average reading score
reading_scores_by_grade = df.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()

# Display the DataFrame
print(reading_scores_by_grade)

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [69]:
# Define spending bins and labels

import pandas as pd

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Value 'school_summary' contains 'Total Students' column
school_summary['School Size'] = pd.cut(school_summary['Total Students'], bins=size_bins, labels=labels)

# Group by 'School Size' and calculate the mean for each metric
size_math_scores = school_summary.groupby("School Size")["Average Math Score"].mean()
size_reading_scores = school_summary.groupby("School Size")["Average Reading Score"].mean()
size_passing_math = school_summary.groupby("School Size")["% Passing Math"].mean()
size_passing_reading = school_summary.groupby("School Size")["% Passing Reading"].mean()
size_overall_passing = school_summary.groupby("School Size")["% Overall Passing"].mean()

# Combine the results into a summary DataFrame
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the DataFrame
print(size_summary)

                    Average Math Score  Average Reading Score  % Passing Math  \
School Size
Small (<1000)                83.821598              83.929843       93.550225
Medium (1000-2000)           83.374684              83.864438       93.599695
Large (2000-5000)            77.746417              81.344493       69.963361

                    % Passing Reading  % Overall Passing
School Size
Small (<1000)               96.099437          89.883853
Medium (1000-2000)          96.790680          90.621535
Large (2000-5000)           82.766634          58.286003

C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3831179619.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = school_summary.groupby("School Size")["Average Math Score"].mean()
C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3831179619.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = school_summary.groupby("School Size")["Average Reading Score"].mean()
C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3831179619.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = school_summary.groupby("School Size")["% Passing Math"].mean()
C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3831179619.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = school_summary.groupby("School Size")["% Passing Reading"].mean()
C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3831179619.py:16: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = school_summary.groupby("School Size")["% Overall Passing"].mean()

In [91]:
import pandas as pd
per_school_summary = pd.DataFrame({

      'Average Math Score': [avg_math_score],
    'Average Reading Score': [avg_reading_score],
    '% Passing Math': [passing_math],
    '% Passing Reading': [passing_reading],
    '% Overall Passing': [overall_passing]
})

per_school_summary['School Type'] = pd.cut(school_summary['Total Students'], bins=size_bins, labels=labels)

# Group by 'School Type' and calculate the mean for each metric
type_math_scores = per_school_summary.groupby("School Type")["Average Math Score"].mean()
type_reading_scores = per_school_summary.groupby("School Type")["Average Reading Score"].mean()
type_passing_math = per_school_summary.groupby("School Type")["% Passing Math"].mean()
type_passing_reading = per_school_summary.groupby("School Type")["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby("School Type")["% Overall Passing"].mean()


# Combine the results into a new DataFrame called type_summary
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})


# Display the type_summary DataFrame
print(type_summary)

                    Average Math Score  Average Reading Score  % Passing Math  \
School Type
Small (<1000)                      NaN                    NaN             NaN
Medium (1000-2000)                 NaN                    NaN             NaN
Large (2000-5000)                  NaN                    NaN             NaN

                    % Passing Reading  % Overall Passing
School Type
Small (<1000)                     NaN                NaN
Medium (1000-2000)                NaN                NaN
Large (2000-5000)                 NaN                NaN

C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3523287679.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  type_math_scores = per_school_summary.groupby("School Type")["Average Math Score"].mean()
C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3523287679.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  type_reading_scores = per_school_summary.groupby("School Type")["Average Reading Score"].mean()
C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3523287679.py:16: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  type_passing_math = per_school_summary.groupby("School Type")["% Passing Math"].mean()
C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3523287679.py:17: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  type_passing_reading = per_school_summary.groupby("School Type")["% Passing Reading"].mean()
C:\Users\Chelsea\AppData\Local\Temp\ipykernel_3348\3523287679.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  type_overall_passing = per_school_summary.groupby("School Type")["% Overall Passing"].mean()